#title{
    text-align: center;
}

#img-div{
    display: block;
    margin: 0 auto;
    width: 40%;;
}

#image{
    display: block;
    width: 100%;
    max-width: 600px;
}

#survey-form{
    align-content: center;
    width: 50%;
    height: auto;
    background-color: #FFCCBC;
    padding-left: 30px;
}
#name{
    width: auto;
    text-align: center;
    font-size: medium;
}
