*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    line-height: 1.5;
    box-sizing: border-box;
}

#title, #footer{
    text-align: center;
    padding: 20px;
    color: #F5F5F5;
    background: #0288D1;
}

#description{
    color: #616161;
    padding: 15px;
    text-align: center;
}

#img-div{
    display: block;
    margin: 0 auto;
    width: 40%;;
}

#image{
    display: block;
    width: 100%;
    max-width: 600px;
}

#survey-form{
    width: 100%;
    height: auto;
    padding: 25px;
}

body{
    background: #E0E0E0;
}

.container{
    background-color: #fff;
    display: block;
    margin: 50px auto;
    width: 70%;
}

input[type=text],
input[type=number],
input[type=submit],
textarea, select,
input[type=email]{
    margin: 10px 0;
    border: 1px solid #BDBDBD;
    display: block;
    width: 100%;
    padding: 8px;
}

textarea{
    height: 150px;
}

div{
    margin: 8px 0;
}

#submit{
    border-color: #0288D1;
    background: #0288D1;
    color: #fff;
}